<div class="container">

<div class=" container card">
    <div class="card-body">
        {{!--<h1><a href="https://www.uptc.edu.co/sitio/portal/index.html"  target="_blank">Universidad Pedagogica y Tecgnologica de colombia</a> </h1>
        <p><strong>Misión</strong>

Formar profesionales competentes y éticos, constructores de una ciudadanía reflexiva, crítica y solidaria en armonía con la visión humanista de la cultura Upetecista, comprometida con la promoción del desarrollo y el bienestar social de la región y de la nación. 

La UPTC, a través de su quehacer en docencia, investigación y extensión en los diferentes niveles de formación (pregrado, posgrado y educación continuada), y la pluralidad de saberes existentes, está articulada con las dinámicas del sector productivo, del gobierno nacional, de las entidades territoriales, y de la sociedad civil, comprometidos - en el marco de la democracia participativa y de construcción de la paz-, con la búsqueda del desarrollo humano inclusivo y sostenible. 

El liderazgo, responsabilidad y compromiso social de los egresados contribuyen a la consolidación de una sociedad regional y una nación más justa, equitativa y democrática. ( Acuerdo N° 070 de 2019 ).</p>
 

<p><strong>Visión</strong></p>  
En el año 2030, por su desempeño académico, la UPTC se consolidará como una de las mejores universidades públicas de Colombia y de América Latina, resultante de la excelente calidad de la oferta académica multinivel y del compromiso de su comunidad universitaria, con las transformaciones sociales, económicas, institucionales, culturales y ambientales, de su entorno local, regional y nacional. 

Así mismo, potenciará la fortaleza de su campus y patrimonio arqueológico, bibliográfico y cultural, como eje del bienestar de la Comunidad Upetecista ( Acuerdo N° 070 de 2019 ). </p>
    </div>--}}
</div>
<br>
<br>
<br>
</div>


