 <div class="cover d-flex justify-content-center align-items-center flex-column">
     <h1>
         MOODLE SCHOOL
     </h1>
     {{!<P>Crea tus cursos de manera rapida y sencilla</P>!}}
 </div>


 {{!--<footer class="text-center text-white" style="background-color: #ca2222e5;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/sebas.vargas.9066389"
        role="button"
        data-mdb-ripple-color="dark"
        target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.google.com/intl/es-419/gmail/about/"
        role="button"
        data-mdb-ripple-color="dark"
        target="_blank"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/daniel.s.r.v/?hl=es"
        role="button"
        data-mdb-ripple-color="dark"
        target="_blank"
        
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/DanielSRV/Software-II"
        role="button"
        data-mdb-ripple-color="dark"
        target="_blank"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(52, 58, 64, 0.5);">
    <p style="color: azure;"> Contacta con nosotros con nuestras redes sociales </p>
   <p style="color: azure;" >© 2021 Copyright</p> 
    
  </div>
  <!-- Copyright -->
</footer>--}}




