<div class="footer">
    <footer>
       <div class="rate">
                    <div class="elements">
                        <div>
                             
                            <a title="GitHub" target="_blank" href="https://github.com/sergio1599"><i class="bi bi-github">gitHub</i></a>
                            <a title="LinkedIn"  target="_blank" href="https://www.linkedin.com/in/sergio1599/"><i class="bi bi-linkedin"linkedin></i></a>
                            <a title="Instagram" target="_blank" href="https://www.instagram.com/s_alejandro_15/"><i class="bi bi-instagram">instagram</i></a>
                        </div>
                        <div>
                            
                            <a title="GitHub" target="_blank" href="https://github.com/sergio1599"><i class="bi bi-github">gitHub</i></a>
                            <a title="LinkedIn"  target="_blank" href="https://www.linkedin.com/in/sergio1599/"><i class="bi bi-linkedin"linkedin></i></a>
                            <a title="Instagram" target="_blank" href="https://www.instagram.com/s_alejandro_15/"><i class="bi bi-instagram">instagram</i></a>
                        </div>
                    </div>
                </div> 
    </footer>
</div>